section.bg-gray.content-container
	div.container.products
		div.mt-4
			product-profiler.bg-toolbar(list="[]" title="Productos")
		div.pos-r.account-movement(ng-if="loadTabData")
			md-tabs.component.md-no-animation(md-dynamic-height ng-if="loadTabData" md-selected="selectedIndex")
				md-tab(label="CREDITO COMERCIAL" md-on-select="onTabChanges(0)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-6.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-3
									div.placeholder-select
										span.text Estado
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedStateOption")
											md-option.text-uppercase(ng-value="state.text" ng-repeat="state in states") {{state.text}}

								div.col-lg-3.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12 BUSCAR
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col(width="13%")
										col(width="15%")
										col(width="15%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
										col(width="10%")
									thead.thead
										tr.tr
											th.th.text-right
												b Monto Carta de Cr&eacute;dito
											th.th.text-right
												b Estado
											th.th.text-right
												b Fec. Emisi&oacute;n
											th.th.text-right
												b Fec. Vencimiento
											th.th.text-right
												b Monto Contigencia
											th.th.text-right
												b Saldo Contingencia
											th.th.text-right
												b Moneda
											th.th.text-right
												b Nº de referencia
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="toggleDetail(item)") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="toggleDetail(item)") remove
												span ${{item.carta}}
											td.td.text-right
												invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
											td.td.text-right {{item.fecha}}
											td.td.text-right {{item.vence}}
											td.td.text-right ${{item.contingencia}}
											td.td.text-right ${{item.saldo}}
											td.td.text-right {{item.moneda.description}}
											td.td.text-right {{item.random_nueve}}
										//DETAIL
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cr&eacute;dito Original
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value 65345345453
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label.text de Cr&eacute;dito (&Uacute;ltimo Curse)
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value 65345345740
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Original
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Moneda
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value {{item.moneda.description}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Curse
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value 3.49%

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Emisi&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N
																			sup o
																		label De Cuotas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		div.progress-bar-max 36
																		uib-progressbar(max="36" value="progressbar_value")
																			div.progressbar-text {{progressbar_value}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Abono
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Abono
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Gasto Nortario
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $2.000.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Impuesto
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $50.000
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right.menu-container
																	md-menu(md-position-mode="target-right target")
																		a(ng-click="openExportMenu($mdMenu, $event)").exportar Exportar
																		md-menu-content
																			md-menu-item
																				md-button(style="text-align: center !important") PDF
																			md-menu-item
																				md-button(style="text-align: center !important") EXCEL
																			md-menu-item
																				md-button(style="text-align: center !important") TXT
												div.row.data-container
													div.col-lg-12.no-padding
														md-card
															div.md-card-header Cuentas Por Cobrar
																span &nbsp;&nbsp;&nbsp;Si
															div.md-card-body
																div.row.data-container
																	div.col-lg-4.col-md-4.col-sm-4.col-xs-4
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Operaci&oacute;n
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Cuenta Por Cobrar
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Rut
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Nombre
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																	div.col-lg-4.col-md-4.col-sm-4.col-xs-4
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Fecha Vigencia
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Fecha Pago
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Fecha Contable
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Descripci&oacute;n
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value 3.49%
																	div.col-lg-4.col-md-4.col-sm-4.col-xs-4
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Monto total
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Saldo
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data
																		div.row
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																				label.text Valor
																			div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																				span.value data

												div.row.data-container
													div.col-lg-12.no-padding
														md-card.detail-table
															div.table-responsive
																table.table.custom
																	thead.thead
																		tr.tr
																			th.th
																				b Cuota
																			th.th
																				b Monto Cuota
																			th.th
																				b Capital
																			th.th
																				b Inter&eacute;s
																			th.th
																				b Capital Reducido
																			th.th
																				b Gasto Mora
																			th.th
																				b Gasto Cobranza
																			th.th
																				b Estado Cuota
																			th.th
																				b Total a Pagar
																			th.th
																				b Fecha Pago
																			th.th
																				b Monto Recaudado
																	tbody.tbody
																		tr.tr.tr-container(ng-repeat="item in cuotes")
																			td.td {{item.numero}}
																			td.td {{item.monto}}
																			td.td {{item.capital}}
																			td.td {{item.interes}}
																			td.td {{item.capital_reducido}}
																			td.td.text-right
																				div {{item.gasto_mora.monto}}
																				div {{item.gasto_mora.dias}}
																			td.td {{item.gasto_cobranza}}
																			td.td.text-center
																				invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
																			td.td {{item.total}}
																			td.td {{item.fecha}}
																			td.td {{item.recaudado}}
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S
				md-tab(label="DEPOSITO A PLAZO" md-on-select="onTabChanges(1)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-3
									div.placeholder-select
										span.text Estado
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedStateOption")
											md-option.text-uppercase(ng-value="state.text" ng-repeat="state in states") {{state.text}}
								div.col-lg-2
									div.placeholder-select
										span.text N
											sup o
									md-input-container.input-form
										div.form-element.custom-align
											input.custom-input(name="no" ng-model="no" type="number")

								div.col-lg-2.col-md-2.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									thead.thead
										tr.tr
											th.th.text-center
												b
													span N
													sup o
													span &nbsp;Dep
											th.th.text-center
												b Plazo (D&iacute;as)
											th.th.text-center
												b Tasa
											th.th.text-center
												b Estado
												b
											th.th.text-center
												b Monto
											th.th.text-center
												b Monto Final
											th.th.text-center
												b Fech. Vencimiento
											th.th.text-center
												b Moneda
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="toggleDetail(item)") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="toggleDetail(item)") remove
												span {{item.random_nueve}}
											td.td.text-right {{item.plazo}}
											td.td.text-right {{item.tasa}}
											td.td.text-right
												invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
											td.td.text-right ${{item.saldo}}
											td.td.text-right ${{item.carta}}
											td.td.text-right {{item.vence}}
											td.td.text-right {{item.moneda.description}}
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Nombre Cliente
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value.client {{item.cliente}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tipo
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value Plazo Fijo {{item.plazo}} D&iacute;as
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Inter&eacute;s
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.tasa}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Per&iacute;odo
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.tasa}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa Base
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.tasa}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Moneda
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.moneda.description}}

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha de Inversi&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Rut
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text D&iacute;as Base
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Inicial
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Intereses
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $2.000.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Final
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right.menu-container
																	md-menu(md-position-mode="target-right target")
																		a(ng-click="openExportMenu($mdMenu, $event)").exportar Exportar
																		md-menu-content
																			md-menu-item
																				md-button(style="text-align: center !important") PDF
																			md-menu-item
																				md-button(style="text-align: center !important") EXCEL
																			md-menu-item
																				md-button(style="text-align: center !important") TXT
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S
				md-tab(label="FORWARD" md-on-select="onTabChanges(2)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-2
									div.placeholder-select
										span.text Tipo
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedStateOption")
											md-option.text-uppercase(ng-value="currency" ng-repeat="currency in currencies") {{currency.code}}
								div.col-lg-3
									div.placeholder-select
										span.text N
											sup o
										span.text &nbsp;Contrato
									md-input-container.input-form
										div.form-element.custom-align
											input.custom-input(name="no" ng-model="no" type="number")

								div.col-lg-2.col-md-2.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR

						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									thead.thead
										tr.tr
											th.th.text-left
												b Tipo
											th.th.text-right
												b
													span N
													sup o
													span &nbsp;Contrato
											th.th.text-left
												b Fecha Operaci&oacute;n
											th.th.text-left
												b Fecha Vencimiento
											th.th.text-left
												b Plazo
											th.th.text-left
												b Plazo Residual
											th.th.text-left
												b Moneda Origen
											th.th.text-right
												b Monto Origen
											th.th.text-right
												b Precio
											th.th.text-left
												b Moneda CNV
											th.th.text-center
												b Monto CNV
									tbody.tbody
										tr.tr.tr-container(ng-repeat="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.text-left {{item.tipo}}
											td.td.text-right {{item.random_nueve}}
											td.td.text-left {{item.fecha}}
											td.td.text-left {{item.fecha}}
											td.td.text-left 1 A&ntilde;o
											td.td.text-left 1 A&ntilde;o
											td.td.text-left {{item.moneda.code}}
											td.td.text-right ${{item.saldo}}
											td.td.text-right ${{item.saldo}}
											td.td.text-left {{item.moneda.code}}
											td.td.text-right ${{item.saldo}}
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S
				md-tab(label="LEASING" md-on-select="onTabChanges(3)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-2
									div.placeholder-select
										span.text Tipo
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedTypeOption")
											md-option.text-uppercase(ng-value="currency.code" ng-repeat="currency in currencies") {{currency.code}}
								div.col-lg-3
									div.placeholder-select
										span.text Estado
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedStateOption")
											md-option.text-uppercase(ng-value="state.text" ng-repeat="state in states") {{state.text}}

								div.col-lg-2.col-md-2.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR

						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									colgroup
										col(width="14%")
										col
										col(width="25%")
										col
										col
										col
									thead.thead
										tr.tr
											th.th.text-right
												b
													span N
													sup o
													span &nbsp;Contrato
											th.th.text-right
												b Monto Op
											th.th.text-center
												b Moneda
											th.th.text-left
												b Valor Renta
											th.th.text-left
												b Seguro
											th.th.text-left
												b Fecha Curse
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="toggleDetail(item)") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="toggleDetail(item)") remove
												div.custom-first-column
													span {{item.random_seis}}
											td.td.text-right $500.000.000.000
											td.td.text-center {{item.moneda.code}}
											td.td.text-left ${{item.saldo}}
											td.td.text-left {{item.seguro}}
											td.td.text-left {{item.fecha}}
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Rut
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value {{item.rut}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Cliente
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value.client {{item.cliente}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Estado
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tipo Leasing
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value LEASING NO INMOBILIARIO
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Propiedades UF y USD
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value
																			b UF:
																			span &nbsp;$29.265 -&nbsp;
																			b USD:
																			span &nbsp;$661.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Venc. Anticipados o Vencidos
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.anticipado === true ? 'Anticipado' : 'Vencido'}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha Primer Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N&uacute;mero de Cuotas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		div.progress-bar-max 36
																		uib-progressbar(max="36" value="progressbar_value")
																			div.progressbar-text {{progressbar_value}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text N&uacute;mero  de Cuotas Morosas
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		div.icon.red 3
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha &Uacute;ltimo Pago
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Saldo Insoluto Neto
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.saldo}}
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right.menu-container
																	md-menu(md-position-mode="target-right target")
																		a(ng-click="openExportMenu($mdMenu, $event)").exportar Exportar
																		md-menu-content
																			md-menu-item
																				md-button(style="text-align: center !important") PDF
																			md-menu-item
																				md-button(style="text-align: center !important") EXCEL
																			md-menu-item
																				md-button(style="text-align: center !important") TXT
														div.row.data-container.custom-detail-table
															div.col-lg-12.no-padding
																h4
																	b BIENES
																md-card.detail-table
																	div.table-responsive
																		table.table.custom
																			colgroup
																				col
																				col
																				col
																				col
																				col
																				col
																			thead.thead
																				tr.tr
																					th.th.middle-header Cantidad
																					th.th.middle-header Descripci&oacute;n
																					th.th.middle-header Tipo Seguro
																					th.th.text-center.middle-header Valor Unitario
																					th.th.text-center.middle-header Valor Total
																					th.th.middled-header.middle-header Moneda
																			tbody.tbody
																				tr.tr.tr-container(ng-repeat="item in assets")
																					td.td {{item.cantidad}}
																					td.td {{item.descripcion}}
																					td.td {{item.seguro}}
																					td.td.text-center {{item.unitario}}
																					td.td.text-center {{item.total}}
																					td.td.text-left {{item.moneda.code}}
														div.row.data-container.custom-detail-table
															div.col-lg-12.no-padding
																h4
																	b RENTAS
																md-card.detail-table
																	div.table-responsive
																		table.table.custom
																			colgroup
																				col
																				col
																				col
																				col
																				col
																				col
																				col
																				col(width="15%")
																				col(width="18%")
																			thead.thead
																				tr.tr
																					th.th.middle-header
																						span N
																						sup o
																					th.th.middle-header Fecha Vencimiento
																					th.th.middle-header Valor Rentas Neto
																					th.th.middle-header D&iacute;as Mora
																					th.th.middle-header Intereses Mora
																					th.th.middle-header Gastos Cobranza
																					th.th.middle-header Renta Bruta
																					th.th.text-center.middle-header Factura
																					th.th.text-center.middle-header Estado
																			tbody.tbody
																				tr.tr.tr-container(ng-repeat="item in cuotes")
																					td.td {{item.numero}}
																					td.td {{item.fecha}}
																					td.td.text-right {{item.monto}}
																					td.td.text-center &nbsp;-&nbsp;
																					td.td.text-center &nbsp;-&nbsp;
																					td.td.text-center &nbsp;-&nbsp;
																					td.td.text-right {{item.monto}}
																					td.td.text-center.download
																						div.arrow-container-download
																							a.pointer
																								span Descargar
																								span
																									i.material-icons cloud_download
																					td.td.text-right
																						invest-status(b-class="{{item.estado_renta.class}}" text="{{item.estado_renta.text}}")

								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S
				md-tab(label="FACTORING" md-on-select="onTabChanges(4)")
					md-content.poster
						md-card.debt
							div.row
								div.col-lg-3.shrinked
									div.row
										span Deuda Total: 23 Documentos
									div.row
										div.price $500.503.00
								div.col-lg-3.shrinked
									div.row
										span Deuda Vigente: 03 Documentos
									div.row
										div.price $100.200.123
								div.col-lg-3.shrinked
									div.row
										span Deuda Morosa: 03 Documentos
									div.row
										div.price $400.960.789
								div.col-lg-3.shrinked
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-8.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.radio-container-advanced-search
										md-radio-group(ng-model="factoringTabVisibility")
											md-radio-button.md-primary(value="WALLET") Cartera
											md-radio-button.md-primary(value="PAYMENTS") Pagos
											md-radio-button.md-primary(value="FORWARDING") Liquidaci&oacuten de Anticipos
											md-radio-button.md-primary(value="REMAININGS") Cartola de Excedentes

								div.col-lg-4.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl(ng-if="!showAdvancedSearch")
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-6 BUSCAR
									button.button-default.col-lg-4.col-md-4.col-sm-4.col-xs-6(ng-click="toggleAdvancedSearch()") BUSQUEDA AVANZADA

							div.row.m-0.custom-advanced-search-row(ng-if="showAdvancedSearch && factoringTabVisibility === 'WALLET'")
								div.col-lg-8.col-md-8.col-sm-12.col-xs-12.avanced.pl-0.col-lg-8-less.col-md-8-less
									div.col-lg-3.col-md-3.col-sm-4.col-xs-12.pr-0
										table.table.custom.advanced-search
											tr.tr
												td.td
													ul.advanced-search-list
														li
															md-checkbox.md-primary Todos
														li
															md-checkbox.md-primary Facturas
														li
															md-checkbox.md-primary Pagar&eacute;s
									div.col-lg-3.col-md-3col-sm-4.col-xs-12.pr-0
										table.table.custom.advanced-search
											tr.tr
												td.td
													ul.advanced-search-list
														li
															md-checkbox.md-primary Letras
														li
															md-checkbox.md-primary Otros Documentos
									div.col-lg-3.col-md-3col-sm-4.col-xs-12.pr-0
										table.table.custom.advanced-search
											tr.tr
												td.td
													ul.advanced-search-list
														li
															md-checkbox.md-primary Vigentes
														li
															md-checkbox.md-primary Morosos

								div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
									div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container.adjust
									div.col-lg-12.col-md-12.col-sm-4.col-xs-12.advanced-search-footer-buttons
										button.button-success.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-5.col-sm-6.col-xs-6.col-md-4-less(ng-click="showAdvancedSearch = !showAdvancedSearch;") BUSCAR
										button.button-default.col-lg-3.col-md-3.col-sm-6.col-xs-6(ng-click="toggleAdvancedSearch()") CANCELAR


							div.row.m-0.custom-advanced-search-row(ng-if="(showAdvancedSearch && factoringTabVisibility === 'PAYMENTS') || (showAdvancedSearch && factoringTabVisibility === 'FORWARDING')")
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-3
									div.placeholder-select
										span.text Rut {{(showAdvancedSearch && factoringTabVisibility === 'PAYMENTS') ? 'Deudor' : 'Cliente'}}
									form.input-form
										div.form-element.custom-align
											input.custom-input(name="rut" type="text" autocomplete="on" ng-model="$ctrl.rut" placeholder="Ingrese" mask="999.999.999-*")
								div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
									div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container.adjust
									div.col-lg-12.col-md-12.col-sm-4.col-xs-12.advanced-search-footer-buttons
										button.button-success.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-5.col-sm-6.col-xs-6.col-md-4-less(ng-click="showAdvancedSearch = !showAdvancedSearch;") BUSCAR
										button.button-default.col-lg-3.col-md-3.col-sm-6.col-xs-6(ng-click="toggleAdvancedSearch()") CANCELAR

							div.row.m-0.custom-advanced-search-row(ng-if="(showAdvancedSearch && factoringTabVisibility === 'REMAININGS')")
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-3
									div.placeholder-select
										span.text Moneda
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedMoneyOption")
											md-option.text-uppercase(ng-value="money" ng-repeat="money in moneys") {{money}}
								div.col-lg-4.col-md-4.col-sm-12.col-xs-12.pl-0.radio-storage
									div.col-lg-12.col-md-12.col-sm-7.col-xs-12.radio-container.adjust
									div.col-lg-12.col-md-12.col-sm-4.col-xs-12.advanced-search-footer-buttons
										button.button-success.col-lg-offset-3.col-lg-6.col-md-offset-3.col-md-5.col-sm-6.col-xs-6.col-md-4-less(ng-click="showAdvancedSearch = !showAdvancedSearch;") BUSCAR
										button.button-default.col-lg-3.col-md-3.col-sm-6.col-xs-6(ng-click="toggleAdvancedSearch()") CANCELAR

						md-card.pt-15px.pl-15px.pr-15px.pos-r(ng-if="factoringTabVisibility === 'WALLET'")
							div.table-responsive
								table.table.custom
									thead.thead
										tr.tr
											th.th.text-right
												b Fecha Operaci&oacute;n
											th.th.text-right
												b
													span N
														sup o
													span &nbsp; Op.
											th.th.text-left
												b Nombre Deudor
											th.th.text-right
												b
													span N
													sup o
													span &nbsp; Doc.
											th.th.text-left
												b Tipo Doc.
											th.th.text-right
												b Moneda
											th.th.text-right
												b Monto Doc
											th.th.text-right
												b Saldo Insoluto
											th.th.text-right
												b Fecha Vencimiento
											th.th.text-right
												b Estado
									tbody.tbody
										tr.tr.tr-container(ng-repeat="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.text-right {{item.fecha}}
											td.td.text-right {{item.random_nueve}}
											td.td.text-left.green
												div {{item.deudor.code}}
												div {{item.deudor.description}}
											td.td.text-right {{item.random_nueve}}
											td.td.text-left {{item.tipo_documento}}
											td.td.text-right {{item.moneda.code}}
											td.td.text-right ${{item.saldo}}
											td.td.text-right ${{item.saldo}}
											td.td.text-right {{item.fecha}}
											td.td.text-right
												invest-status(b-class="red" text="MOROSO")
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S

						md-card.pt-15px.pl-15px.pr-15px.pos-r(ng-if="factoringTabVisibility === 'PAYMENTS'")
							div.table-responsive
								table.table.custom
									thead.thead
										tr.tr
											th.th.text-left
												b Rut y Nombre Deudor
											th.th.text-right
												b
													span N
													sup o
													span &nbsp; Op.
											th.th.text-right
												b
													span N
													sup o
													span &nbsp; Doc.
											th.th.text-left
												b Tipo Doc.
											th.th
												b Moneda
											th.th
												b Monto Documento
											th.th
												b Financiado
											th.th
												b Efectivo
											th.th
												b No Financiado
											th.th
												b Diferencia de Precio
									tbody.tbody
										tr.tr.tr-container(ng-repeat="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.text-left.green
												div {{item.deudor.code}}
												div {{item.deudor.description}}
											td.td {{item.random_nueve}}
											td.td {{item.random_nueve}}
											td.td {{item.tipo_documento}}
											td.td {{item.moneda.code}}
											td.td {{item.saldo}}
											td.td {{item.saldo}}
											td.td {{item.saldo}}
											td.td {{item.fecha}}
											td.td {{item.fecha}}

								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S


						md-card.pt-15px.pl-15px.pr-15px.pos-r(ng-if="factoringTabVisibility === 'FORWARDING'")
							div.table-responsive
								table.table.custom
									colgroup
										col(width="20%")
										col(width="20%")
										col(width="20%")
										col(width="20%")
										col(width="20%")
									thead.thead
										tr.tr
											th.th.text-right
												b
													span N
														sup o
													span &nbsp; Operaci&oacute;n
											th.th.text-center
												b Fecha Op.
											th.th.text-center
												b Tipo Documento
											th.th.text-right
												b Cantidad de Documentos
											th.th.text-right
												b Monto Operaci&oacute;n
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="toggleDetail(item)") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="toggleDetail(item)") remove
												div.text-right
													span {{item.random_cinco}}
											td.td.text-center {{item.fecha}}
											td.td.text-center {{item.tipo_documento_pago}}
											td.td.text-right {{item.cantidad_documentos}}
											td.td.text-right $70.000.000
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="5")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Monto Financiado
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value $500.000.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text % de Financiamiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value
																			b 50%
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Diferencia de Precio
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $123.456.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tipo de Cambio
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value -
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Comisi&oacute;n Neta
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value -
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text IVA Sobre Comisi&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value 0
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Comisi&oacute;n IVA
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $700.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Cantidad Documentos
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.cantidad_documentos}}

															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tasa
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value 3.22%
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Per&iacute;odo
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value Mensual
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Gastos Notificaci&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value %500.000.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Gastos Operaci&oacute;n
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value $123.456.000
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Pago Documentos
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value -
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Anticipo Contado
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value -
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Cargos Descontados
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value 0
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Liquidaci&oacute;n a Anticipar
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value
																			b $700.00
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right.menu-container
																	md-menu(md-position-mode="target-right target")
																		a(ng-click="openExportMenu($mdMenu, $event)").exportar Exportar
																		md-menu-content
																			md-menu-item
																				md-button(style="text-align: center !important") PDF
																			md-menu-item
																				md-button(style="text-align: center !important") EXCEL
																			md-menu-item
																				md-button(style="text-align: center !important") TXT
												div.row.data-container
													div.col-lg-12.no-padding
														md-card.detail-table
															div.table-responsive
																table.table.custom
																	thead.thead
																		tr.tr
																			th.th.text-left Rut y Nombre Deudor
																			th.th.text-right
																				span N
																				sup o
																				span &nbsp;Documento
																			th.th.text-left Fecha Vencimiento
																			th.th.text-center Plazo
																			th.th.text-right Monto
																			th.th.text-right Financiado
																			th.th.text-right Efectivo
																			th.th.text-right No Financiado
																			th.th.text-right Diferencia de Precio
																	tbody.tbody
																		tr.tr.tr-container(ng-repeat="item in quarter_products")
																			td.td.text-left.green
																				div {{item.deudor.code}}
																				div {{item.deudor.description}}
																			td.td {{item.random_seis}}
																			td.td {{item.fecha}}
																			td.td 12 Meses
																			td.td ${{item.saldo}}
																			td.td ${{item.saldo}}
																			td.td ${{item.saldo}}
																			td.td ${{item.saldo}}
																			td.td.text-right $2,108
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S

						md-card.pt-15px.pl-15px.pr-15px.pos-r(ng-if="factoringTabVisibility === 'REMAININGS'")
							div.table-responsive
								table.table.custom
									thead.thead
										tr.tr
											th.th.text-left
												b Fecha
											th.th.text-left
												b Tipo Operaci&oacute;n
											th.th.text-left
												b Cargo
											th.th.text-left
												b Abono
											th.th.text-left
												b Saldo
											th.th.text-left
												b Moneda
									tbody.tbody
										tr.tr.tr-container(ng-repeat="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.text-left {{item.fecha}}
											td.td.text-left Interes Mora por Documento 227712
											td.td.text-left $700.000.000
											td.td.text-left $700.000.000
											td.td.text-left $700.000.000
											td.td.text-center {{item.moneda.code}}
										tr.tr.tr-container.odd
											td.td(colspan="6")
												div.row
													div.footer-block
														div Total Abono
														h3.footer-header $87.503.000
													div.footer-block
														div Total Cargo
														h3.footer-header $36.200.123
													div.footer-block
														div Total Saldo
														h3.footer-header $50.960.789
													div.footer-block
														div Saldo Anterior Acumulado
														h3.footer-header $-960.789
													div.footer-block
														div Nuevo Saldo Acumulado
														h3.footer-header $50.960.789

								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S

				md-tab(label="B.GARANTIA" md-on-select="onTabChanges(5)")
					md-content.poster
						md-card.pt-15px.pos-r.filter
							div.row.m-0
								div.col-lg-5.col-md-9.col-sm-12.col-xs-12.pl-0.top.col-lg-8-less.col-md-9-less
									div.col-lg-3.col-md-4.col-sm-3.pr-0.text Buscar desde el
									div.col-lg-4.col-md-3.col-sm-4.pr-0
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateStart" type="text" autocomplete="off" ng-model="$ctrl.dateStart" placeholder="_ / _ / _" mask="99 / 99 / 9999" ng-change="console.log(dateStart)")

									div.col-lg-1.col-md-1.col-sm-1.pl-0.pr-0.text-center.text Al
									div.col-lg-4.col-md-3.col-sm-4.refactor-padding
										form.input-form
											div.form-text
												i.material-icons.c-green event
											div.form-element.custom-align
												input(name="dateEnd" type="text" autocomplete="off" ng-model="$ctrl.dateEnd" placeholder="_ / _ / _" mask="99 / 99 / 9999")
								div.col-lg-3
									div.placeholder-select
										span.text Beneficiario
									md-input-container.input-form
										md-select.md-no-underline(ng-model="selectedBeneficiaryOption")
											md-option.text-uppercase(ng-value="beneficiary" ng-repeat="beneficiary in beneficiaries") {{beneficiary}}
								div.col-lg-2
									div.placeholder-select
										span.text N
											sup o
											span &nbsp;Boleta
									md-input-container.input-form
										div.form-element.custom-align
											input.custom-input(name="no" ng-model="no" type="number")


								div.col-lg-2.col-md-3.col-sm-12.col-xs-12.pb-15px.top.refactor-pl
									button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.search BUSCAR
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.table-responsive
								table.table.custom
									thead.thead
										tr.tr
											th.th.text-center
												b
													span N
													sup o
													span &nbsp; Boleta
											th.th.text-center
												b Fecha Curse
											th.th.text-left
												b Beneficiario
											th.th.text-right
												b Tasa
											th.th.text-right
												b Monto
											th.th.text-center
												b Fecha Vencimiento
											th.th.text-center
												b Moneda
									tbody.tbody
										tr.tr.tr-container(ng-repeat-start="item in products" ng-class="{'odd': $index % 2 == 0}")
											td.td.plus-icon
												i.material-icons.add.mr-2(ng-if="!item.plus" ng-click="toggleDetail(item)") add
												i.material-icons.remove.mr-2(ng-if="item.plus" ng-click="toggleDetail(item)") remove
												div.custom-first-column
													span {{item.random_seis}}
											td.td.text-center ${{item.fecha}}
											td.td.text-left.green {{item.beneficiario}}
											td.td.text-right 12.00%
											td.td.text-right 3.000.000
											td.td.text-center {{item.fecha}}
											td.td.text-center {{item.moneda.code}}
										tr.tr.plus-data(ng-repeat-end="" ng-if="item.plus")
											td.td(colspan="8")
												div.row.data-container
													div.col-lg-12.pl-0
														div.row.data-container
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6div.row
																div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																	label.text Estado
																div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																	invest-status(b-class="{{item.estado.class}}" text="{{item.estado.text}}")
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Fecha Vencimiento
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value.client {{item.fecha}}
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Rut Beneficiario
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value {{item.rut}}
															div.col-lg-6.col-md-6.col-sm-6.col-xs-6
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Tipo de Boleta
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		span.value Efectivo (o pagar&eeacute;)
																div.row
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.d-table
																		label.text Glosa
																	div.col-lg-6.col-md-6.col-sm-12.col-xs-6.pl-0
																		span.value Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur eu ante sed metus posuere sollicitudin ut eget ligula. Pellentesque feugiat ullamcorper ligula vel tristique.
														div.row.inputs-container
															div.col-lg-12.col-md-12.col-sm-12.col-xs-12
																div.pull-right.menu-container
																	md-menu(md-position-mode="target-right target")
																		a(ng-click="openExportMenu($mdMenu, $event)").exportar Exportar
																		md-menu-content
																			md-menu-item
																				md-button(style="text-align: center !important") PDF
																			md-menu-item
																				md-button(style="text-align: center !important") EXCEL
																			md-menu-item
																				md-button(style="text-align: center !important") TXT
														div.row.data-container.custom-detail-table.no-padding
															div.col-lg-12.no-padding
																h4
																	b DETALLE CUOTAS
																md-card.detail-table
																	div.table-responsive
																		table.table.custom
																			colgroup
																				col(width="13%")
																				col
																				col
																				col(width="18%")
																				col
																				col
																			thead.thead
																				tr.tr
																					th.th.text-left.middle-header
																						span N
																							sup o
																					th.th.text-left.middle-header Fecha Vencimiento
																					th.th.text-right.middle-header Monto a Pagar
																					th.th.text-center.middle-header Estado Cuota
																					th.th.text-right.middle-header Monto Recaudaci&oacute;n
																					th.th.text-center.middle-header Feha de Pago
																			tbody.tbody
																				tr.tr.tr-container(ng-repeat="item in cuotes")
																					td.td.text-left {{item.numero}}
																					td.td.text-left {{item.fecha}}
																					td.td.text-right UF 32.000
																					td.td.text-center {{item.estado.text}}
																					td.td.text-right 40.000.000
																					td.td.text-center {{item.fecha}}
								div.row.m-0.pt-1.pb-1
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6(ng-if="canPaginate" ng-click="paginate()") CARGAR M&Aacute;S
									button.button-default.button-load.col-lg-offset-5.col-lg-2.col-md-offset-5.col-md-2.col-sm-offset-4.col-sm-4.col-xs-offset-4.col-xs-6.disabled(ng-if="!canPaginate") CARGAR M&Aacute;S
				md-tab(label="COMEX" md-on-select="onTabChanges(6)")
				md-tab(label="CONFIRMING" md-on-select="onTabChanges(7)")
					md-content.poster
						h4 Confirming
						md-card.pt-15px.pl-15px.pr-15px.pos-r
							div.row
								div.col-lg-6
									div.spaced
										h4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac est vitae mauris rhoncus feugiat tempor nec leo. Etiam non mi eu nisi rhoncus iaculis et vitae erat. Aliquam feugiat, tellus quis vulputate feugiat, elit lectus sodales tortor, sit amet viverra eros nibh a est.
										br
										div Vivamus sed metus fringilla, egestas purus non, efficitur odio. Duis aliquet orci orci, nec viverra metus iaculis sollicitudin. Suspendisse potenti. Praesent et facilisis purus. Suspendisse finibus suscipit leo a dapibus. Duis placerat scelerisque turpis, sit amet dapibus risus egestas pretium. Integer ut sodales orci, rhoncus lacinia orci. Cras purus tortor, pharetra non odio at, condimentum ultrices nisi. Morbi ac pharetra dolor.
								div.col-lg-1
								div.col-lg-5.filter.login-box
									div.row
										div.col-lg-12.red-parenthesis.hidden
											span (CASO DE NO PODER IR SIN LOGUEARSE)
									div.row
										div.col-lg-12
											form.input-form
												div.form-text
													i.material-icons.c-green person
												div.placeholder-login
													span.text Nombre
												div.form-element.custom-align
													input.custom-input(name="username" type="text" autocomplete="off" ng-model="$ctrl.username")
									div.row
										div.col-lg-12
											form.input-form
												div.form-text
													i.material-icons.c-green lock
												div.placeholder-login
													span.text Clave
												div.form-element.custom-align
													input.custom-input(name="password" type="password" autocomplete="off" ng-model="$ctrl.password")
									div.row
										div.col-lg-12
											button.button-success.col-lg-offset-2.col-lg-6.col-md-6.col-sm-offset-2.col-sm-4.col-xs-12.confirming-button IR A PLATAFORMA DE CONFIRMING


